@{
    ViewBag.Title = "JourneryPackage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Journery Package</h2>
<div class="journey-package-wrapper">
    <div class="journey-package-container">
        <div class="journey-package-row">
            <div class="journey-package-column-left">
                Package A
            </div>
            <div class="journey-package-column-left-middle">
                RM 388 (3 Days 2 Nights)
            </div>
            <div class="journey-package-column-middle-right">
                BBQ, Steamboat
            </div>
            <div class="journey-package-column-right">
                View Details
            </div>
        </div>
        <div class="journey-package-row">
            <div class="journey-package-column-left">
                Package B
            </div>
            <div class="journey-package-column-left-middle">
                RM 188 (2 Days 1 Night)
            </div>
            <div class="journey-package-column-middle-right">
                Visit Templers
            </div>
            <div class="journey-package-column-right">
                View Details
            </div>
        </div>
        <div class="journey-package-row">
            <div class="journey-package-column-left">
                Package C
            </div>
            <div class="journey-package-column-left-middle">
                RM288 (2 Days 1 Night)
            </div>
            <div class="journey-package-column-middle-right">
                Sit Boat Got Around the Pulau, Seafood.
            </div>
            <div class="journey-package-column-right">
                View Details
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .journey-package-wrapper{
        width:100%;
        height:100%;
    }
    .journey-package-container{
        width:100%;
        height:100%;
    }
    .journey-package-row{
        width:100%;
        height:30px;
    }
    .journey-package-column-left{
        width:20%;
        height:100%;
        display:inline-block;
        float:left;
    }
    .journey-package-column-left-middle{
        width:20%;
        height:100%;
        display:inline-block;
        float:left;
    }
    .journey-package-column-middle-right{
        width:40%;
        height:100%;
        display:inline-block;
        float:left;
    }
    .journey-package-column-right{
        width:20%;
        height:100%;
        display:inline-block;
        float:left;
    }
</style>